@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: 'Poppins', sans-serif; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/sunset.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Rain {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/rain.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Snow {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/cold.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.Haze {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/haze.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Sand {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/sand.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Fog {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/fogg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Thunderstorm {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/Thunderstorm.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Drizzle {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/Dizzle.webp);
  background-size: cover;
  background-attachment: fixed;
}

.Mist {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/Mist.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Clouds {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/cloud.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Clear {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/clear.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Tornado {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/Tornado.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.Squall {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/Tornado.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.Ash {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/ash.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Dust {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./Images/dust.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.form {
  padding: 0 0 20px 0;
}

input {
  width: 50vh;
  padding: 10px;
  margin: 0 10px;
  outline: none;
  font-size: 2.5vh;
  font-family: cursive;
  color: black;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 black;
  background: rgba(255, 255, 255, 0.39);
}

input:focus {
  width: 50vh;
  padding: 10px;
  margin: 0 10px;
  outline: none;
  font-size: 2.5vh;
  font-family: cursive;
  color: black;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 black;
  background: rgba(255, 255, 255, 0.685);
}

::placeholder {
  color: rgb(0, 0, 0);
}

.btn {
  width: 10vh;
  padding: 2vh;
  margin: 0 10px;
  outline: none;
  font-size: 2.5vh;
  font-family: cursive;
  color: black;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 2px 0 black;
  background: rgba(255, 255, 255, 0.39);
}

.btn:hover {
  width: 10vh;
  padding: 2vh;
  margin: 0 10px;
  outline: none;
  font-size: 2.5vh;
  font-family: cursive;
  color: black;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 2px 0 black;
  background: rgba(255, 255, 255, 0.685);
}

h1 {
  font-size: 8vh;
  font-weight: 700;
  color: rgb(31, 31, 31);
}

h2 {
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-weight: 500;
  font-size: 4vh;
  margin: 10px auto;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.glass {
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.459);
  height: 51vh;
  width: 60vh;
  overflow: hidden;
  position: relative;
  color: black;
}

.glass::before {
  content: "";
  background: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.39);
  filter: blur(12px);
  backdrop-filter: blur(8px);
}

.card {
  display: grid;
  grid-template-columns: 90% 10%;
  color: black;
  size: 18px;
  font-family: cursive;
  position: relative;
  text-align: center;
}

.favourite {
  width: 90%;
  padding: 8vh 0;
  margin: auto;
  display: grid;
  grid-row-gap: 5vh;
  grid-template-columns: repeat(4, 1fr);
  justify-content: start;
  align-items: center;
}

.heart {
  float: right;
  padding-right: 4vh;
  opacity: 0.8;
}

.heart:hover {
  height: 4vh;
  cursor: pointer;
  opacity: 1.2;
  transition: 0.3s ease-in;
}

.cityinfo {
  width: 100%;
  height: 100%;
  padding: 0 6px;
}

.fav_card {
  display: flex;
  width: 30vh;
  height: 18vh;
  margin: auto;
  border-radius: 10px;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.418);
  border: 1px solid rgb(117, 117, 117);
}

h3 {
  margin: 0 0 10px 0;
  font-size: 3vh;
}

h4 {
  margin: 2px auto;
  font-size: 2.4vh;
}

h5,
h6 {
  margin: 2px auto;
  font-size: 2vh;
}

p{
  font-size: 2.4vh;
}

.fav_card img {
  padding: 4px 0 0 4px;
}

.fav_icon {
  width: 80%;
  padding-bottom: 1vh;
  margin: 1vh auto;
  display: flex;
  justify-content: space-evenly;
}

.current_location {
  position: absolute;
  top: 8%;
  left: 82%;
  height: 35vh;
  width: 32vh;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.555);
  cursor: pointer;
}

.current_location_data {
  position: relative;
  top: 10%;
  left: 10%;
  padding: 5px;
}
